.post-type-archive-data {
  background: $stone;
  color: $white;

  .h1, .h2 {
    margin-top: .5em;
    padding-top: 20px;
    color: $white;
  }
}

.dashboard-section {
  h4 {
    margin: 0;
  }
}

.data-section {
  background: $steel;
  color: $jet;
  margin-bottom: 2em;

  & > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .col-md-10 {
    background: $white;
  }
}

.google-visualization-tooltip {
  color: $jet;
  font-family: $font-family-sans-serif;
}

.data-dashboard {
  // Sidebar
  .callout {
    background: $gray;
  }

  .nav {
    li {
      @extend h3;
      margin: 0;

      li {
        @extend h4;
        margin: 0;
      }

      &.active {
        & > a {
          color: $white;
          background: $sterling;
        }
      }
    }

    a {
      padding: 10px 5px 7px;
      text-decoration: none;
      color: $steel;
      position: relative;

      &:hover, &:focus {
        background: $sterling;
        // color: $white;
      }
    }

    .children {
      a {
        padding-left: 20px;
      }
    }
  }

  .affix {
    @media (max-width: $screen-sm-max) {
      position: relative;
    }

    @media (min-width: $screen-md-min) {
      width: 271px;
      top: 20px;
      position: fixed;
    }

    @media (min-width: $screen-lg-min) {
      width: 295px;
    }
  }

  .affix-bottom {
    @media (min-width: $screen-md-min) {
      position: absolute;
      width: 271px;
    }

    @media (min-width: $screen-lg-min) {
      width: 295px;
    }
  }
}
