.post-type-archive-data {
    // Position footer over background
  .above-footer, .content-info {
    position: relative;
    z-index: 50;
  }

  .entry-header {
    margin-bottom: 1em;

    @media (min-width: $screen-md-min) {
      margin-top: 7em;
    }
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .container {
      width: 874px;
    }
  }

  @media (min-width: $screen-lg-min) {
    .container {
      width: 1160px;
    }
  }
}

.dashboard-section {
  margin-bottom: 2em;

  h2 {
    margin: 0 -10px 10px;
    padding: 30px 10px 1em;
    color: $white;
    background: $gray;

    span {
      font-weight: 300;
      color: $steel;
    }
  }
}

.data-section {
  background: $pearl;
  margin-bottom: 10px;

  & > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .col-md-9 {
    background: $white;
  }

  .fancy-number {
    display: block;
    line-height: 1em;
    font-size: $font-size-h1;
    color: $plum-lighter;
    font-family: $font-family-serif;
    transition: font-size .3s ease-in-out;
  }

  .meta {
    margin-right: 75px;
  }

  .btn {
    margin-bottom: 20px;
  }

  .popover-content {
    p {
      margin: 0;
    }
  }

  .popover-title {
    background: $steel;
    color: $ash;
    border: 0;
  }

  .modal-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: $sterling;
    color: $white;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    line-height: 54px;
    width: 64px;
    padding: 10px 10px 0;
    z-index: 100;

    span {
      display: block;
    }

    &:hover {
      background: $gray;
      color: $white;
      text-decoration: none;
    }
  }
}

.data-viz-chart {
  overflow: hidden;
}

.google-visualization-tooltip.google-visualization-tooltip {
  color: $jet;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  min-width: 150px;
  border-radius: 4px;

  .google-visualization-tooltip-item:first-child {
    margin-bottom: 0;

    & + .google-visualization-tooltip-item {
      margin-top: 0;
    }
  }

  .tooltip-inner {
    background: $ash;
  }
}

.data-dashboard {
  // Sidebar
  .callout {
    background: $steel;
  }

  .nav {
    li {
      // @extend h3;
      margin: 0;

      li {
        // @extend h4;
        margin: 0;
        list-style-type: square;
        list-style-position: inside;
        color: $pearl;
        display: list-item;
      }

      &.active {
        & > a {
          color: $white;
          background: $gray;
        }
      }
    }

    a {
      padding: 10px 5px 7px;
      text-decoration: none;
      color: $ash;
      position: relative;

      &:hover, &:focus {
        background: $pearl;
        // color: $plum;
      }
    }

    .children {
      a {
        padding-left: 20px;
      }
    }
  }

  .affix {
    @media (max-width: $screen-sm-max) {
      position: relative;
    }

    @media (min-width: $screen-md-min) {
      width: 271px;
      top: 20px;
      position: fixed;
    }

    @media (min-width: $screen-lg-min) {
      width: 270px;
    }
  }

  .affix-bottom {
    @media (min-width: $screen-md-min) {
      position: absolute;
      width: 271px;
    }

    @media (min-width: $screen-lg-min) {
      width: 270px;
    }
  }
}

// Google tables
.google-visualization-table {
  .google-visualization-table-table {
    font-family: $font-family-sans-serif;

    .frozen-column {
      background: $white;
    }

    .gtable-row-odd {
      td {
        background: lighten($steel, 7%);
      }
    }

    .gtable-head-cell {
      background: $denim-lightest;
    }

    .gtable-cell {
      border: none;
    }

    .last-frozen-column {
      border-right: 1px solid $pearl;
    }
  }
}
