.wp-embed {
  font-family: $font-family-serif;
  font-size: 18px;
  color: $ash;

  .hidden-embed {
    display: none;
  }

  .single-flash-cards & {
    padding: 0;

    .entry-header {
      margin-top: 0 !important;
      margin-bottom: 10px;
      display: table;
      width: 100%;
    }

    .entry-title {
      font-size: $font-size-h3;
      padding-top: 22px;
      padding-right: 35px;
    }

    .nav-toggle {
      color: transparent;
      padding-left: 0;
      float: right;

      &:before {
        display: none !important;
      }

      span, span:after, span:before {
        background-color: $white;
      }
    }

    .flash-cards-content {
      margin-bottom: 5em;
    }
  }

  .navbar {
    height: 64px;
    padding: 0;
    border: 0;
    background: $stone;
    color: $steel;

    .eddata-title {
      font-family: $font-family-sans-serif;
      font-weight: 300;
      line-height: 64px;
      padding: 0 10px;
    }

    .navbar-right {
      margin-right: -10px;
    }
  }

  .navbar-header {
    margin: 0;
  }

  .navbar-brand.navbar-brand {
    margin-left: -10px;
    padding: 0;
    height: auto;
  }

  a {
    color: $sky;
    text-decoration: underline;

    &:hover {
      color: $denim;
    }
  }

  .btn-default {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.wp-embed-card {
  .single-flash-cards & {
    padding: 10px;
  }

  .block-overlay {
    margin-bottom: 0;
  }

  .entry-header {
    margin-top: 0;
  }
}

.wp-embed-excerpt {
  margin-bottom: 30px;
}

.wp-embed-footer {
  background: $steel;
  padding: 10px;
  margin-top: 0;

  .single-flash-cards & {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  a {
    color: $jet;
  }
}

.wp-embed-site-title {
  font-weight: normal;
  font-size: 16px;

  span {
    vertical-align: -5px;
  }
}

.wp-embed-meta {
  a {
    @extend h6;
  }
}

.wp-embed-share-dialog {
  z-index: 50;
}

.wp-embed-share-input {
  color: $jet;
}
