.page-header {
  &.photo-overlay {
    position: relative;
    margin-bottom: 2em;
    background-position: center;
    background-size: cover;
    height: 139px;

    .article-title-overlay {
      position: absolute;
      padding-bottom: .5em;
      color: $white;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;

      h1 {
        border-bottom: none;
      }
    }

    @media (min-width: $screen-sm-min) {
      margin-top: -54px;
      height: 262px;
    }

    @media (max-width: $screen-xs-max) {
      .entry-title {
        font-size: 2rem;
      }
    }
  }
}

.block-author {
  margin-bottom: 2em;

  .post-title {
    margin: 0;
    font-size: 20px;

    .staff & {
      background: $plum-darkest;
      padding: .5em;

      a {
        color: $white;
      }
    }

    a {
      color: $ash;
      text-decoration: none;
    }
  }
}

.staff, .columnists {
  @media (max-width: $screen-xs-max) {
    .block-author:nth-child(2n + 1) {
      clear: left;
    }
  }

  @media (min-width: $screen-sm-min) {
    .block-author:nth-child(4n + 1) {
      clear: left;
    }
  }
}

.contributors {
  .block-author {
    text-align: center;

    @media (max-width: $screen-xs-max) {
      &:nth-child(2n + 1) {
        clear: left;
      }
    }

    @media (min-width: $screen-sm-min) {
      text-align: left;

      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }
}

.board-of-directors {
  table {
    img {
      margin-right: 5px;
      max-width: 200px;
    }
  }
}

.district-map {
  width: 100%;
}
