.archive, .search {
  .hentry {
    margin: 0 0 3em;

    h2 {
      margin-top: 0;
      font-size: 30px;

      a {
        color: $purple-text;
        text-decoration: none;
      }

      .label {
        background: $steel;
        color: $jet;

        a {
          color: $jet;
        }
      }
    }
  }
}
