.issue-flash-card {
  @include gray-gradient-right;
}

.single-flash-cards {
  height: 100%;

  .wrapper, .oc-pusher, .inner-wrapper {
    height: 100%;
  }

  .content-info {
    position: relative;
    z-index: 200;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .container {
      width: 970px;
    }
  }

  .entry-title {
    color: $white;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 300;

    a {
      color: $white;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 3.5rem;
    }
  }

  .byline {
    color: $white;

    a {
      color: $white;
    }
  }
}

// Fixed background image
.flash-cards-bg {
  position: absolute;
  margin: -5em 0 0;
  min-height: 600px;
  height: calc(100% - 89px);
  width: 100%;
  z-index: 1;

  .bg-img {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img{
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      min-width: 100%;
      max-width: none;
      min-height: 100%;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $deep-purple40;
      position: absolute;
      z-index: 100;
    }
  }
}

.flash-cards-content {
  position: relative;
  z-index: 2;

  .affix {
    @media (max-width: $screen-sm-max) {
      position: relative;
    }

    @media (min-width: $screen-md-min) {
      width: 304px;
      top: 20px;
      position: fixed;
    }

    @media (min-width: $screen-lg-min) {
      width: 295px;
    }
  }

  .affix-bottom {
    @media (min-width: $screen-md-min) {
      position: absolute;
      width: 304px;
    }

    @media (min-width: $screen-lg-min) {
      width: 295px;
    }
  }

  .toc {
    font-family: $font-family-sans-serif;
    padding-left: 15px;

    li {
      padding-bottom: .25em;
      margin: 0;

      &.active {
        color: $purple-text;

        a {
          color: $purple-text;
        }
      }
    }

    a {
      display: block;
      color: $midnight;
      text-decoration: none;

      &:hover, &:active, &:focus {
        color: $blue;
      }
    }
  }
}

// Flash cards nav
.fc-nav {
  @include gray-gradient-right;
  overflow: hidden;
  position: relative;

  .fc-prev, .fc-next {
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .fc-prev {
    float: left;
  }

  .fc-next {
    float: right;
  }

  .disabled {
    display: none;
  }
}

.fc-index {
  position: absolute;
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 0;
}

// Flash cards stlye
.fc {
  border: 1px solid $ice-dark;
  padding: 20px;

  background: $white;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background-size: 100% 25px;

  .fc-title {
    position: relative;
    margin: -20px -20px 6px -20px;
    background: $white;
    padding: 20px 20px 0 20px;
  }

  p, li {
    line-height: 1.6;
    margin-bottom: 1.6em;
    margin-top: 0;
  }

  ol {
    margin: 0;
  }
}

.owl-controls {
  @include gray-gradient-right;
  overflow: hidden;

  .owl-prev {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .owl-next {
    float: right;
    width: 50%;
    text-align: right;
    padding: 10px;
  }
}
