.above-footer {
  .callout {
    padding: 60px 30px;
    margin-bottom: 3em;
  }
}

.ribbon {
  background: $navy-darkest;

  li {
    padding: 1rem;
  }
}

.below-footer {
  background: $ice;
  padding: 1em 0;

  p {
    margin: 0;
    font-weight: normal;
  }
}

.content-info {
  // @include gray-gradient-right;
  background: $pearl;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-ize: .9rem;

  .h5 {
    color: $plum;
    margin: 0 0 1em;
  }

  a:not(.btn) {
    color: $jet;
  }

  .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .menu-footer-nav {
    a {
      text-decoration: none;
      color: $jet;

      &:hover, &:active, &:focus {
        color: $blue;
        text-decoration: underline;
      }
    }

    li {
      list-style: none;
    }

    ul {
      padding: 0 0 1em;

      @media (min-width: $screen-sm-min) {
        padding: 1em 0 0 0;
      }
    }

    & > li {
      & > a {
        color: $plum !important;
        @extend .h5;
        font-weight: normal;
        cursor: default;

        &:hover, &:active, &:focus {
          color: $plum;
          text-decoration: none;
        }
      }
    }
  }
}
