section {
  margin-bottom: 5em;
}

.wrap {
  position: relative;
  background: $white;
  padding-top: 2em;
  margin-bottom: 2.5em;
  z-index: 1;
  transition: transform .3s;

  @media (min-width: $screen-md-min) {
    padding-top: 0;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

@media (min-width: $screen-md-min) {
  .col-md-push-2point5 {
    left: 20.833333%;
  }

  .col-md-pull-1point5 {
    right: 12.5%;
  }

  .col-md-push-point5 {
    left: 4.166667%;
  }
}

.main {
  // @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}

.main, .entry-content {
  li {
    margin: 1em 0;
  }
}

.extra-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.no-padding {
  & > [class*=col] {
    padding-left: 0;
    padding-right: 0;
  }
}

.top-padding {
  padding-top: 10px;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.top-margin {
  margin-top: 1em;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.bottom-margin {
  margin-bottom: 1em;
}

.bottom-margin-important {
  margin-bottom: 1em !important;
}

.extra-top-margin {
  margin-top: 2em;
}

.extra-bottom-margin {
  margin-bottom: 3em;
}

.vertical-center {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

  * {
    margin: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .text-col-sm-2 {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .text-col-md-3 {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
  }
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

.callout {
  // @include gray-gradient-right;
  background: $steel;
  padding: 30px;
  margin: 0 0 1.25rem;
  overflow: hidden;
  font-family: $font-family-sans-serif;
  color: $jet;

  .h1 {
    font-size: $font-size-h1;
    font-style: normal;
    margin-top: 0;
    color: inherit;

    .big {
      font-size: 1.5em;
      line-height: 1;
    }
  }

  h4 {
    margin-top: 0;
  }

  p {
    font-weight: 300;
    margin-bottom: 1em;
  }

  .button {
    margin: 0;
  }

  .menu {
    list-style: none;
    padding: 0;
    font-family: $font-family-sans-serif;

    li {
      padding-bottom: .25em;
      margin: 0;

      &.active {
        & > a {
          color: $purple-text;
        }
      }
    }

    a {
      text-decoration: none;
      color: $midnight;

      &:hover, &:active, &:focus {
        color: $blue;
      }
    }
  }

  @media (max-width: $screen-md-max) {
    padding: 15px;
  }
}

.aside {
  @include gray-gradient-right;
  padding: 10px 20px;

  @media (min-width: 545px) {
    width: 50%;
  }

  & > h3:first-of-type {
    margin-top: 0;
  }
}

// .full-width {
//   @media (min-width: $screen-lg-min) {
//     margin-left: -7.35%;
//     margin-right: -7.35%;
//   }
// }

.page-header {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.sep {
  margin: 2em 0;
  border-bottom: 1px solid $ice;
  width: 100%;
  height: 0;
}

.modal-content {
  padding: 10px;
  border-radius: 0;
}

.ant_sandbox {
  z-index: 1000;
}

.video-play {
  position: absolute;
  width: 102px;
  height: 102px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include at2x('play', 102px, 102px);
  z-index: 1;

  &.small {
    width: 51px;
    height: 51px;
    @include at2x('play-small', 51px, 51px);
  }
}
