.banner {
  margin-bottom: 5em;
  position: relative;
  z-index: 10;
  font-family: $font-family-sans-serif;

  a {
    color: $midnight;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }

  .logo {
    @include purple-gradient-right;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    a {
      display: block;
      width: 134px;
      position: relative;
      text-align: center;
      padding: 50px 0 50px;
      transition: padding-bottom .3s;
    }

    &.stuck {
      position: fixed;
      backface-visibility: hidden;
    }

    &.fix-height {
      a {
        padding-top: 5px;
        padding-bottom: 7px;
      }
    }
  }

  .caption {
    position: absolute;
    padding: .5rem 15px;
    left: 154px;
    color: $gray-text;
    font-style: italic;
    font-size: 1.125rem;
    font-weight: 300;
  }

  .beta-banner {
    padding: .5rem 15px;
  }

  .container-fluid {
    position: relative;
    height: 45px;
    @include gray-gradient-right;
  }

  .minor-links {
    float: left;
    margin: .75rem 10px 0;
  }

  .search {
    float: right;
    max-width: 300px;
    margin-top: .5rem;
  }

  .navbar {
    border: none;
  }

  .navbar-nav {
    padding-left: 154px;

    a {
      overflow: hidden;

      &:before {
        content: '';
        width: 100%;
        height: 3px;
        background: $purple-text;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: translateY(0);
        transition: transform .3s;
      }
    }

    li:not(.active) {
      & > a:hover {
        &:before {
          transform: translateY(-3px);
        }
      }
    }

    li.active {
      & > a {
        &:before {
          background: $purple;
          transform: translateY(-3px);
        }
      }
    }
  }

  .social-media {
    float: left;
    margin: 0 10px;

    ul {
      margin: 0;
    }

    li {
      height: 44px;
      line-height: 44px;

      a {
        position: relative;
        display: inline-block;
        height: 1em;
        width: 1em;
        line-height: 44px;
        font-size: 1.2em;
        padding: 0;

        &:before {
          position: absolute;
          z-index: 5;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }

        &:after {
          content: '';
          background: $gray-text;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: 0;
          z-index: 0;
          transform: translateX(-50%) translateY(-50%) scale(0.2);
          transition: transform .3s, opacity .3s, color .3s;
        }

        &:hover {
          color: $ice;

          &:after {
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) scale(1.3);
          }
        }
      }
    }
  }

  .btn-group {
    a {
      color: $white;
    }
  }
}
