.hentry .entry-header {
  margin-bottom: 3em;

  &.photo-overlay {
    margin-top: -5em;
    max-height: 600px;
    overflow: hidden;
  }

  .jumbotron {
    padding-bottom: 5em;
  }
}
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer {
  margin-bottom: 5em;
}
