.hentry .entry-header {

  img {
    width: 100%;
  }

  &.photo-overlay {
    margin-top: -52px;
    margin-bottom: 3em;
    overflow: hidden;

    .article-title-overlay {
      padding-bottom: 2.5em;
      color: $white;
    }

    img {
      position: relative;
      width: auto;
    }

    h1 {
      margin-top: 0;
      padding-top: 28px;
      text-shadow: 0px 0px 20px $midnight;
    }

    a {
      color: $white;
    }

    @media (min-width: $screen-lg-min) {
      height: 600px;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    @media (min-width: $screen-md-min) {
      margin-top: -5em;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 1em;

      &:after {
        display: none;
      }

      .label {
        position: relative;
      }

      .article-title-overlay {
        position: relative;
        padding-top: 15px;

        h1 {
          color: $midnight;
          font-size: 2em;
          text-shadow: none;
        }
      }
    }
  }
}
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer {
  margin-bottom: 5em;
}

.share-btns {
  line-height: 30px;
  clear: both;

  span:not(.label) {
    vertical-align: bottom;
  }

  @media (max-width: $screen-xs-max) {
    line-height: 37px;

    .label {
      display: block;
      margin-bottom: 10px;
    }
  }
}
