.single-bio, .single-legislator {
  .entry-header {
    border-bottom: 1px solid $ice;
    margin-bottom: 1em;
  }

  .wp-post-image {
    width: 100%;
  }
}

.author, .single-bio {
  .main {
    .btn {
      white-space: normal;
      text-align: left;
      width: 100%;
    }
  }
}

.Democrat {
  @include light-blue-gradient-right();
  color: $white;
}

.Republican {
  @include red-gradient-right();
  color: $white;
}
