.btn {
  border: none;
  border-radius: 0;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;

  &:after {
    content: '';
    height: 3px;
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: -3px;
    background: $white;
    transition: all .3s;
  }

  &:hover, &:active, &:focus {
    color: $white;
    box-shadow: none;
    outline: none;

    &:after {
      bottom: 5px;
    }
  }
}

.btn-gray.btn-gray {
  color: $white;
  background: $ash;
  border: none;
  padding: 6px 30px;
}

.btn-default, .btn-primary {
  padding: 6px 30px;
}

// .btn-default, .button {
//   @include green-gradient-right;
//
//   &:hover, &:active, &:focus {
//     @include dark-green-gradient-right;
//   }
// }
//
// .btn-primary {
//   @include pink-gradient-right;
//
//   &:hover, &:active, &:focus {
//     @include dark-pink-gradient-right;
//   }
// }

.btn-group {
  .btn {
    height: 44px;
  }

  .btn + .btn {
    margin-left: 0;
  }
}

.button {
  @extend .btn;
  color: $ice;
}

.btn-wide {
  width: 100%;
}
