// Captions
.wp-caption {
  @extend .thumbnail;
  background: none;
}

.wp-caption-text {
  @extend .thumbnail;
  @extend .caption;
}

// Gallery shortcode
.gallery-row {
  padding: ($line-height-computed / 2) 0;

  img {
    width: 100%;
  }
}

.gallery {
  padding: ($line-height-computed / 2) 0;

  .gallery-item {
    float: left;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  @media (min-width: $screen-md-min) {
    &.gallery-columns-5 {
      .gallery-item {
        width: 20%;
      }
    }

    &.gallery-columns-4 {
      .gallery-item {
        width: 25%;
      }
    }

    &.gallery-columns-3 {
      .gallery-item {
        width: 33.33333%;
      }
    }

    &.gallery-columns-2 {
      .gallery-item {
        width: 50%;
      }
    }
  }

  .thumbnail {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }

  .gallery-caption {
    // display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.object-wrapper {
  position: relative;
  padding-bottom: 75%;
  padding-top: 25px;
  height: 0;

  object, embed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

object, embed {
  max-width: 100%;
}

.entry-content-asset:not(.instagram) {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.media-embed-container.mejs-container {
  
}
