.col-centered {
  float: none;
  margin: 0 auto;
}

@media (min-width: $screen-md-min) {
  .col-md-push-2point5 {
    left: 20.833333%;
  }

  .col-md-pull-1point5 {
    right: 12.5%;
  }

  .col-md-push-point5 {
    left: 4.166667%;
  }
}
