// Bootstrap
@import "_bootstrap.scss";

// Roots
@import "_global.scss";              // Base styling & custom mixins
@import "_rewrite-url.scss";         // Functions to rewite relative asset urls
@import "salsa/_icons";              // Custom icon fonts for EdNC
@import "components/_retina";        // Retina mixin
@import "components/_dropdowns";     // Dropdowns
@import "components/_buttons";       // Button tweaks
@import "components/_forms";         // Form tweaks
@import "components/_media";         // WordPress media
@import "components/_nav";           // Page navigation
@import "components/_tables";        // Tables
@import "components/_magnific-popup";// Magnific popup jquery plugin
@import "layouts/_general";          // General styling
@import "layouts/_mobile-menu-nav";  // Mobile menu and navigation
@import "layouts/_header";           // Header styling
@import "layouts/_footer";           // Footer styling
@import "salsa/_salsa";              // Salsa styling
@import "components/_100-days";         // 100 days styling
