/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Imports
2.0 - Typography
3.0 - Forms
4.0 - Elements
5.0 - Header
6.0 - Navigation
  6.1 - Main Menu
  6.2 - Mobile Menus
7.0 - Footer
8.0 - Content
  8.1 - General
  8.2 - Home Page
  8.3 - Second Level Page Template
  8.4 - Purchase Page Template
  8.5 - General Enology
  8.6 - Enology Landing Page Template
  8.7 - Blog
  8.8 - Search
  8.9 - Events
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Mixins
--------------------------------------------------------------*/

@mixin gray-gradient-right() {
  background-image: -o-linear-gradient(90deg, #ECF0F1 0%, #D4D8D9 100%);
  background-image: -moz-linear-gradient(90deg, #ECF0F1 0%, #D4D8D9 100%);
  background-image: -ms-linear-gradient(90deg, #ECF0F1 0%, #D4D8D9 100%);
  background-image: linear-gradient(90deg, #ECF0F1 0%, #D4D8D9 100%);
}

@mixin green-gradient-right() {
  background-image: -o-linear-gradient(90deg, #98A942 0%, #7C8A36 100%);
  background-image: -moz-linear-gradient(90deg, #98A942 0%, #7C8A36 100%);
  background-image: -ms-linear-gradient(90deg, #98A942 0%, #7C8A36 100%);
  background-image: linear-gradient(90deg, #98A942 0%, #7C8A36 100%);
}

@mixin purple-gradient-right() {
  background-image: -o-linear-gradient(90deg, #5E0542 0%, #42032E 100%);
  background-image: -moz-linear-gradient(90deg, #5E0542 0%, #42032E 100%);
  background-image: -ms-linear-gradient(90deg, #5E0542 0%, #42032E 100%);
  background-image: linear-gradient(90deg, #5E0542 0%, #42032E 100%);
}

@mixin trans-blue-gradient-bottom() {
  background-image: -o-linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $dark-purple 100%);
  background-image: -moz-linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $dark-purple 100%);
  background-image: -ms-linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $dark-purple 100%);
  background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $dark-purple 100%);
}

@mixin trans-white-gradient-bottom() {
  background-image: -o-linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $white 70%);
  background-image: -moz-linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $white 70%);
  background-image: -ms-linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $white 70%);
  background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, $white 70%);
}

@mixin blue-gradient-right() {
  background-image: -o-linear-gradient(90deg, #2B3E50 0%, #223240 100%);
  background-image: -moz-linear-gradient(90deg, #2B3E50 0%, #223240 100%);
  background-image: -ms-linear-gradient(90deg, #2B3E50 0%, #223240 100%);
  background-image: linear-gradient(90deg, #2B3E50 0%, #223240 100%);
}

/*--------------------------------------------------------------
1.0 - Imports
--------------------------------------------------------------*/

@import "settings";
// @import "foundation";
@import "underscores";
@import "icons";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
  "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
//  "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
//   "foundation/components/offcanvas",
  "foundation/components/visibility";

/*--------------------------------------------------------------
2.0 - Layout
--------------------------------------------------------------*/

.collapse {
  & > .column,
  & > .columns {
    padding-left: 0;
    padding-right: 0;
  }
}

.full-width {
  @include clearfix();
}

/*--------------------------------------------------------------
2.0 - Typography
--------------------------------------------------------------*/

.small {
  font-size: .8em;
}

.inline-list {
  margin: 0 0 1.0625em -.6875em;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    list-style: none;
    display: inline-block;
    padding: 0 .6875em;
    margin: 0;
    border-right: 1px solid lighten($medium-gray, 10%);

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

p {
  font-size: 1em;
}

a {
  transition: all .3s;
}

.button {
  overflow: hidden;
  position: relative;
  z-index: 1;
  @include green-gradient-right;

  &.secondary {
    @include purple-gradient-right;
  }

  &:after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: $ice;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all .3s;
  }

  &:hover {
    color: $dark-blue !important;

    &:after {
      height: 220%;
      opacity: .5;
    }
  }
}

/*--------------------------------------------------------------
2.0 - Desktop Navigation
--------------------------------------------------------------*/

.header {
  font-family: $header-font-family;
  font-weight: 300;

  .full-width {
    position: relative;
    background: $medium-gray;

    .right {
      padding-right: .625rem;
    }

    .minor-links {
      float: left;
      margin: .3rem .625rem;
    }
  }

  .tagline {
    position: absolute;
    bottom: 0;
    padding: .3rem .625rem;
    font-style: italic;
    left: 289px;
  }

  a {
    color: $dark-blue;
  }

  .inline-list {
    margin: .5em 0;
  }

  .social-media {

    .inline-list {
      margin: 0 .625rem;

      li {
        border: none;
        line-height: 45px;
        padding: 0 .3rem;

        &:hover {
          a {
            color: $dark-blue;
          }
        }

        a {
          position: relative;
          display: inline-block;
          height: 1em;
          width: 1em;
          line-height: 45px;
          font-size: 1em;
          padding: 0;

          &:before {
            position: absolute;
            z-index: 5;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }

          &:after {
            background: darken($medium-gray, 10%);
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: 0;
            content: '';
            transform: translateX(-50%) translateY(-50%) scale(0.2);
            transition: transform .3s, opacity .3s;
            z-index: 0;
          }

          &:hover {
            color: $ice;

            &:after {
              opacity: 1;
              transform: translateX(-50%) translateY(-50%) scale(1.5);
            }
          }
        }
      }
    }
  }

  .search {
    float: right;
    max-width: 300px;

    input {
      margin-bottom: .5em;
    }

    input[type="text"] {
      padding: .25em;
      height: 2em;
    }

    .button {
      line-height: 1em;
      height: 2em;
      font-family: $header-font-family;
      font-weight: 300;
    }
  }
}

.top-bar {
  @include gray-gradient-right;

  .title-area {
    margin: 0 .625rem 0 0;
    position: relative;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);

    .name {
      @include purple-gradient-right;
      position: relative;
      height: auto;

      a {
        display: block;
        padding: 20px 15px;
      }
    }
  }

  .minor-button, .major-button {
    overflow: hidden;

    a {
      color: $ice;
      border: none;
      line-height: 45px !important;
      padding: 0 30px !important;
      position: relative;
      z-index: 1;

      &:after {
        position: absolute;
        z-index: -1;
        content: '';
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: $ice;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transition: all .3s;
      }

      &:hover {
        color: $dark-blue !important;

        &:after {
          height: 220%;
          opacity: .5;
        }
      }
    }
  }

  .minor-button {
    @include blue-gradient-right;
  }

  .major-button {
    @include green-gradient-right;
  }
}

.top-bar-section {
  ul {
    li {
      & > a {
        background: none !important;
      }
    }

    &.left {
      li {
        & > a {
          border-top: 2px solid transparent;
          line-height: 43px !important;
        }

        &:not(.active) {
          & > a:hover {
            border-color: darken($purple, 10%);
            color: $dark-blue;
          }
        }

        &.active {
          & > a {
            border-color: $purple;
            color: $purple !important;
          }
        }
      }
      .has-dropdown {
        & > a {
          &:after {
            border-color: $dark-blue transparent transparent transparent;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
2.0 - Mobile Navigation
--------------------------------------------------------------*/

.container,
.scroller {
  height: 100%;
}

.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}

.container {
  position: relative;
  overflow: hidden;
}

.oc-pusher {
  position: relative;
  left: 0;
  height: 100%;
}

.oc-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
}

.oc-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #336ca6;
  transform: translate3d(-100%, 0, 0);
}

.oc-pusher,
.oc-level {
  transition: all .5s;
}

/* overlays for pusher and level that gets covered */

.oc-pusher:after,
.oc-level:after,
.oc-level:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}

.oc-pusher:after,
.oc-level:after {
  background: rgba(0,0,0,0.3);
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.oc-level:after {
  z-index: -1;
}

.oc-pusher.oc-pushed:after,
.oc-level.oc-level-overlay:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .3s;
}

.oc-level.oc-level-overlay {
  cursor: pointer;
}

.oc-level.oc-level-overlay:before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

/* overlap */
.oc-overlap .oc-level.oc-level-open {
  box-shadow: 1px 0 2px rgba(0,0,0,.2);
  transform: translate3d(-40px, 0, 0);
}

/* first level */
.oc-menu > .oc-level,
.oc-menu > .oc-level.oc-level-open,
.oc-menu.oc-overlap > .oc-level,
.oc-menu.oc-overlap > .oc-level.oc-level-open {
  box-shadow: none;
  transform: translate3d(0, 0, 0);
}

/* cover */
.oc-cover .oc-level.oc-level-open {
  transform: translate3d(0, 0, 0);
}

.oc-cover .oc-level.oc-level-open > ul > li > .mp-level:not(.mp-level-open) {
  transform: translate3d(-100%, 0, 0);
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .oc-pusher,
.no-js .oc-pusher {
	padding-left: 300px;
}

.no-csstransforms3d .oc-menu .oc-level,
.no-js .oc-menu .oc-level {
	display: none;
}

.no-csstransforms3d .oc-menu > .oc-level,
.no-js .oc-menu > .oc-level {
	display: block;
}

.mobile-bar {
  color: $medium-gray;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
  @include gray-gradient-right;

  a {
    color: $medium-gray;
    transition: color .3s;

    &:hover, &:focus, &:active {
      color: darken($medium-gray, 10%);
    }
  }

  h1 {
    margin: 0;
  }
}

  .mobile-bar-section {
    padding: 0 .625rem;
    position: absolute;
    text-align: center;
    height: 2.8125rem;
    top: 0;

    &.middle {
      left: 2.8125rem;
      right: 2.8125rem;
    }
  }

  .right-small {
    border-left: none;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2em;
    width: 2.8125rem;
    height: 2.8125rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-toggle {
    position: absolute;
    top: 13px;
    left: 10px;
    cursor: pointer;
    padding: 8px 30px 16px 0;
    color: transparent;
    z-index: 2000;

    span, span:before, span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 4px;
      width: 30px;
      background: $medium-gray;
      position: absolute;
      display: block;
      content: '';
      transition: all 500ms ease-in-out;
      color: transparent;
    }

    span:before {
      top: -8px;
    }

    span:after {
      bottom: -8px;
    }

    &.active {
      span {
        background-color: transparent;
      }

      span:before, span:after {
        top: 0;
        background-color: $white;
      }

      span:before {
        transform: rotate(45deg);
      }

      span:after {
        transform: rotate(-45deg);
      }
    }
  }

.mobile-bar-search {
  color: $dark-blue;
  position: relative;
  background-color: $medium-gray;
  height: 57px;
  padding: 10px;
  position: absolute;
  top: 2.8125rem;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 0;
  transition: all .3s;

  input {
    margin: 0;
  }
}

.content {
  position: relative;
  background: $white;
  transition: all .3s;
}

.search-pushed {
  .mobile-bar-search {
    visibility: visible;
  }

  .content {
    transform: translate3d(0, 57px, 0);
  }
}


/*--------------------------------------------------------------
1.0 - Content
--------------------------------------------------------------*/

.section {
  margin: 2em 0 10em;
}

.photo-overlay {
  position: relative;
  margin: .625rem 0;

  .title-overlay {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: $white;
    z-index: 2;
  }

  .mega-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
  }

  .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include trans-blue-gradient-bottom;
  }

  img {
    position: relative;
    width: 100%;
  }

  @media #{$small-only} {
    &.small-wide {
      height: 250px;
      overflow: hidden;

      img {
        // transform?
      }
    }
  }
}

.post {
  position: relative;
  margin: 1.25rem 0;

  .row &.row {
    margin: 1.25rem -0.625rem;
  }

  .excerpt {
    font-size: .9em;
    padding: 0 10px;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      transition: all .5s;
      @include trans-white-gradient-bottom;
    }

    &:hover {
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }

    p {
      margin: 0;
    }

    .read-more {
      float: right;
    }
  }
}

.label {
  @include gray-gradient-right;
  color: $dark-blue;
  padding: 3px 5px;
  font-size: .9rem;

  &.on-photo {
    background: darken($purple, 10%);
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

.callout {
  @include gray-gradient-right;
  padding: 30px;
  margin: 1.25rem 0;

  p {
    font-size: $h4-font-size;
    font-style: italic;

    @media #{$medium-up} {
      font-size: 1rem;
    }
  }
}

.underwriting {
  text-align: center;
}

.wide-open {
  .columns {
    text-align: center;
    margin: 1.25rem 0;
  }
}

/*--------------------------------------------------------------
1.0 - Footer
--------------------------------------------------------------*/

.above-footer {
  background: $medium-gray;
}

.footer {
  @include blue-gradient-right;
  color: $ice;
  font-family: $header-font-family;
  font-weight: 300;
  font-size: .9rem;
}
