@charset "UTF-8";

@font-face {
  font-family: "ednc";
  src:url("ednc.eot");
  src:url("ednc.eot?#iefix") format("embedded-opentype"),
  url("ednc.woff") format("woff"),
  url("ednc.ttf") format("truetype"),
  url("ednc.svg#ednc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ednc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ednc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "a";
}
.icon-facebook:before {
  content: "b";
}
.icon-twitter:before {
  content: "c";
}
.icon-retweet:before {
  content: "d";
}
.icon-reply:before {
  content: "e";
}
.icon-star:before {
  content: "f";
}
.icon-youtube:before {
  content: "g";
}
.icon-gplus:before {
  content: "h";
}
.icon-linkedin:before {
  content: "i";
}
.icon-instagram:before {
  content: "j";
}
.icon-external-link:before {
  content: "k";
}
.icon-email:before {
  content: "l";
}
.icon-phone:before {
  content: "m";
}
.icon-fax:before {
  content: "n";
}
.icon-website:before {
  content: "o";
}
.icon-rss:before {
  content: "p";
}
.icon-video:before {
  content: "q";
}
.icon-vimeo:before {
  content: "r";
}
.icon-calendar:before {
  content: "s";
}
.icon-academic:before {
  content: "t";
}
.icon-vine:before {
  content: "u";
}
